/************************************************
     CSS RESET
	Eric Meyers’ CSS reset and tested 
	box-sizing fix popularized by Paul Irish. 
************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

/****** End CSS reset ********/

/* =================
      Variables
==================*/

:root {
  --white: #fff;
  --off-white: #f1f4f8;
  --blue: #0277bd;
  --red: #f00;
  --black: #000;
}


/*==================
      General
==================*/


/* For images to not be able to exceed their container */
img {    
  max-width: 100%;
}

a:visited {
  color: inherit
}

body {
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  
  /* Percentage values here are calculated based on 'height' value
     of parent, which doesn't exist (only min-height), so use inherit */
  min-height: inherit;
}


header,
footer {
  background-color: var(--blue);
  color: #fff;
}

header a {
  text-decoration: none;
  color: inherit;
}


/*==============================
             Header
==============================*/


header {
  border-bottom: 1px solid var(--black);
}

.header_mobile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header_logo {
  display: inline-block;
  font-size: 2rem;
}

.header_logo p {
  text-align: end;
  font-size: 1rem;
  font-style: italic;
}

.header_dropdown-icon {
  font-size: 2.5rem;
  cursor: pointer;
}

.header_greeting {
  display: none;
}

.main-nav {
  display: none;
  border-top: 1px solid var(--black);
  font-size: 1.2rem;
}

.main-nav li {
  flex: 1;
  border-right: 1px solid var(--black);
  text-align: center;
}

.main-nav li:last-of-type {
  border-right: none;
}

.main-nav li a,
.main-nav li span {
  display: block;
  padding: .7rem .5rem .5rem;
  transition: all 250ms ease-out;
}

.main-nav li span {
  cursor: pointer;
}

.is-active {
  display: flex;
}

@media screen and (max-width: 800px) {
  .main-nav li a:hover,
  .main-nav li span:hover {
    background-color: var(--white);
    color: var(--blue);
  }
}

@media screen and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    font-size: 2.5rem;
  }

  .header_logo p {
    font-size: 1.5rem;
  }

  .header_dropdown-icon {
    display: none;
  }

  nav {
    margin-top: .62rem;
  }

  .main-nav {
    display: flex;
    border-top: none;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .main-nav li {
    border-right: none;
  }

  .main-nav li a,
  .main-nav li span {
    padding: 0;
    margin-right: 1rem;
  }

  .main-nav li a:hover,
  .main-nav li span:hover {
    border-bottom: 1px solid var(--white);
  }
}

@media screen and (min-width: 1050px) {
  .header_mobile-wrapper {
    flex: 1;
  }

  .header_greeting {
    display: flex;
    align-items: baseline;
    margin-right: 1rem;
    font-size: 1.9rem;
  }

  .header_greeting svg {
    margin-right: .8rem;
  }
}


/*==============================
             Footer
==============================*/


footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid var(--black);
}


/*====================================
      Login/Register/Create post
====================================*/


.login,
.register,
.create-post {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

#login_flower-img,
#create-post_flower-img {
  display: none;
}

#login_header,
#register_header,
#create-post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--black);
}

#login_header svg,
#register_header svg,
#create-post_header svg {
  margin-right: 1rem;
  font-size: 3rem;
  color: var(--blue);
}

#login_header h2,
#register_header h2,
#create-post_header h2 {
  margin-bottom: .5rem;
  font-size: 2rem;
}

#login_header p,
#register_header p,
#create-post_header p {
  font-size: 1.2rem;
}

#login_header p span,
#register_header p span ,
#create-post_header p span {
  font-style: italic;
}

#create-post_upload-btn {
  width: 100%;
  padding: .7rem .8rem;
  border: 1px solid var(--black);
  background-color: var(--white);
  outline: none;
}

#create-post_thumbnail {
  display: block;
  height: 60px;
  margin-top: 1.5rem;
  border: 1px solid var(--black);
  border-radius: 2px;
}

#create-post_is-published label {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

#create-post_is-published input {
  width: auto;
  margin-right: .5rem
}

@media screen and (min-width: 500px) {
  #login_wrapper,
  #register_form-wrapper,
  #create-post_wrapper {
    padding: 2rem;
    border: 1px solid var(--black);
    border-radius: 5px;
  }
}

@media screen and (min-width: 800px) {
  #register-form_fields {
    display: flex;
    gap: 2rem;
  }
}

@media screen and (min-width: 1050px) {
  #login_wrapper,
  #create-post_wrapper {
    display: flex;
    gap: .5rem;
  }

  #login_flower-img,
  #create-post_flower-img {
    display: block;
    align-self: center;
    margin-right: 2rem;
  }

  #login_flower-img {
    max-width: 300px;
  }

  #create-post_flower-img {
    max-width: 350px;
  }
}


/*==============================
           Homepage
==============================*/


/* Needed so that I can center the posts when max-width exceeded */
.posts_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--off-white);
}

.posts {
  display: grid;
  gap: 1rem;
  max-width: 1200px;
  padding: 1rem 0;
  color: var(--white);
}

.post {
  box-shadow: 0 10px 10px rgba(0,0,0,.25);
  background-color: var(--blue);
}

.post_content {
  padding: 1rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 550px) {
  .post_content {
    font-size: 1rem;
  }
}

.post_title {
  font-size: 1.7rem;
  margin-bottom: .3rem;
}

.post_is-published {
  margin-bottom: .3rem;
}

#post_read-now {
  display: block;
  margin-top: .5rem;
  padding: .8rem 0 .4rem;
  border: 1px solid transparent;
  border-radius: .3rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--off-white);
  font-size: 1.5rem;
  color: var(--black);
}

#post_read-now:hover {
  border: 1px solid var(--off-white);
  background-color: var(--blue);
  color: var(--white);
}

.post_date-and-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_date-and-comments svg {
  margin-right: .5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
  border-top: 1px solid var(--black);
  background-color: var(--white);
}

.sidebar h3 {
  display: flex;
  align-items: center;
  width: 75%;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.sidebar h3::before,
.sidebar h3::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: var(--blue);
}

.sidebar h3::before {
  margin-right: .7rem;
}

.sidebar h3::after {
  margin-left: .7rem;
}

.sidebar p {
  margin-bottom: 1rem;
  text-align: center;
}

.sidebar_social-icon {
  margin-right: .5rem;
  font-size: 1.5rem;
  color: var(--blue);
  cursor: pointer;
}

.sidebar_social-icon:last-of-type {
  margin-right: 0;
}

.sidebar img {
  display: none;
}

@media screen and (min-width: 550px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }

  .post {
    border-radius: 5px;
  }

  .post img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

@media screen and (min-width: 800px) {
  .home {
    display: flex;
  }

  .posts_wrapper {
    flex: 4; /* 4:1 ratio between posts wrapper and sidebar */
  }

  .sidebar {
    flex: 1; /* 4:1 ratio between posts wrapper and sidebar */
    border-top: none;
    border-left: 1px solid var(--black);
  }

  .sidebar h3 {
    display: block;
    width: auto;
    margin-bottom: .5rem;
    font-size: 2rem;
  }

  .sidebar h3::before,
  .sidebar h3::after {
    display: none;
  }

}

@media screen and (min-width: 1050px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }

  .sidebar img {
    display: block;
    width: 100%;
    max-width: 280px;
    margin-bottom: 1rem;
    border: 1px solid var(--black);
    border-radius: 4px;
  }

  .sidebar p {
    margin-bottom: 2rem;
  }

  .sidebar_social-icon {
    font-size: 2rem;
  }
}










main {
  background-color: var(--off-white);
}

button[type="submit"] {
  width: 100%;
  padding: .7rem .8rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--blue);
  color: var(--white);
  outline: none;
}

button {
  cursor: pointer;
}

/* remove border and outline as they are
   applied to container div instead */
input {
  width: 100%;
  padding: .7rem 1rem;
  border: none;
  font-size: 1.1rem;
  outline: none;
}

textarea {
  width: 100%;
  height: 100px;
  padding: .5rem .7rem;
  border: 1px solid var(--black);
  outline: none;
}

.input-with-icon {
  display: flex;
  align-items: center;
  border: 1px solid var(--black);
}

.input-with-icon svg {
  padding: 1rem;
  background-color: var(--blue);
  color: var(--white);
}

.input-with-icon:focus-within {
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);  
}

textarea:focus,
button:focus {
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}

label {
  display: block;
  margin-bottom: .4rem;
  font-size: 1.1rem;
}

.form-msg {
  margin-top: 1.4rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

.field_error {
  border: 2px solid var(--red) !important;
}

.feedback_error {
  margin-top: .8rem;
  color: var(--red);
}

.post-detail_post img {
  height: 200px;
}

#post-detail_form_image {
  display: none;
}

.post-detail_comment {
  border: 2px solid var(--black);
}

#create-post_image {
  display: none;
}
